{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block nom %}
    <span class="glyphicon glyphicon-barcode"></span><br>
    <div style="color: #337ab7;padding-bottom: 10px;">
        Ajout d'un nouveau visiteur
    </div>
{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('nom') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(produitForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group"><!-- ID du visiteur -->
            {{ form_label(produitForm.id_produit, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(produitForm.id_produit) }}
                {{ form_widget(produitForm.id_produit, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group"><!-- Nom du secteur -->
            {{ form_label(produitForm.nom, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(produitForm.nom) }}
                {{ form_widget(produitForm.nom, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group"><!-- NOM  -->
            {{ form_label(produitForm.nom, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(produitForm.id_famille) }}
                {{ form_widget(produitForm.id_famille, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group"><!-- Prénom -->
            {{ form_label(produitForm.effets, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(produitForm.effets) }}
                {{ form_widget(produitForm.effets, { 'attr':  {
                    'class': 'form-control',
                    'rows': '3'
                }}) }}
            </div>
        </div>

        <div class="form-group"><!-- Login -->
            {{ form_label(produitForm.contre_indication, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(produitForm.contre_indication) }}
                {{ form_widget(produitForm.contre_indication, { 'attr':  {
                    'class': 'form-control',
                    'rows': '3'
                }}) }}
            </div>
        </div>

        <div class="form-group"><!-- MDP -->
            {{ form_label(produitForm.interactions_autres_produits, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(produitForm.interactions_autres_produits) }}
                {{ form_widget(produitForm.interactions_autres_produits, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group"><!-- Adresse -->
            {{ form_label(produitForm.presentation, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(produitForm.presentation) }}
                {{ form_widget(produitForm.presentation, { 'attr':  {
                    'class': 'form-control',
                    'rows': '2'
                }}) }}
            </div>
        </div>
        <div class="form-group"><!-- CP -->
            {{ form_label(produitForm.dosage, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-1">
                {{ form_errors(produitForm.dosage) }}
                {{ form_widget(produitForm.dosage, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group"><!-- Ville -->
            {{ form_label(produitForm.prix_HT, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-1">
                {{ form_errors(produitForm.prix_HT) }}
                {{ form_widget(produitForm.prix_HT, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group"><!-- Date embauche -->
            {{ form_label(produitForm.prix_Echantillon, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-1">
                {{ form_errors(produitForm.prix_Echantillon) }}
                {{ form_widget(produitForm.prix_Echantillon, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
        {{ form_end(produitForm) }}
    </div>
{% endblock %}
